
* { margin: 0; padding: 0; }

header  {
    background-color: rgb(14, 226, 245);
    height: 100px;
}
#section1{
    background-color: rgb(190, 242, 243);
}
h1{
    text-align: center;
    
}
#spanname{
    color: blue;
    font-size: xx-large;
    font-style: italic;
}
p{
    text-align: center;
    font-size: larger;
}
img{
    display: block;
   margin-left: auto;
   margin-right: auto;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
h4{
    text-align: center;
}
#SubSection{
    margin-left: 700px;
    display: block;
    width:500px;
    height: auto;
    text-align: center;
    background-color: rgb(247, 247, 248) ;
    color: rgb(8, 8, 8);
}
#Section2{
    background-color: rgb(127, 238, 234);
}
ul
    {
        display: inline-block;
        text-align: left;
      }
#h4form{
    text-align: left;
}
#message{
    width: 300px;
    height: 100px;
}
#name{
    width: 300px;
    height: 20px;
    
}
#email{
    width: 300px;
    height: 20px;

}
#imgavatar{
    border-radius: 100px;


    }
#span1{
    font-size: x-large;
    
    
}

#nav{
    text-align: right;
    margin-top: -10px;
    margin-right: 50px;
}
    
